.search-bar {
    width: 441px;
    height: 27px;
    padding: 10px;
    border: 1px solid #ddd;
    margin-right: 10px;
    font-size: 16px;
    top: 22px;
    left: 21px;
    gap: 0px;
    opacity: 0px;


}
select.search-bar{
    border-radius: 0px;
}