.search-bar {
    width: 441px;
    height: 27px;
    padding: 10px;
    border: 1px solid #ddd;
    margin-right: 10px;
    font-size: 16px;
    top: 22px;
    left: 21px;
    gap: 0px;
    opacity: 0px;


}
select.search-bar{
    border-radius: 0px;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    max-height: 200px;
    overflow-y: auto;
    border-radius: 4px;
    margin-top: 2px;
}

.dropdown-content .dropdown-item {
    padding: 10px 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.dropdown-content .dropdown-item:hover {
    background-color: #f1f1f1;
}

.dropdown .dropdown-item .stars .fa-star {
    color: #ddd;
}

.dropdown .dropdown-item .stars .fa-star.filled {
    color: black;
}


.dropdown .dropdown-item .fa-check {
    color: #007bff;
}